/*----------------------- Main -------------------------------------------------- */
.mainContent{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.noteWraper{
    display: flex;
    justify-content: center;
    width: 90%;
    position: relative;
}


.noteContainer{
    min-width: 100%;
    height: auto;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    overflow-x: scroll;
}

.NT{
    display: flex;
    border-radius: 8px;
    width: 1050px;
    justify-content: space-around;
    background-color: var(--primary);
    padding: 2px;
    margin-bottom: 10px;
    
}

.NT p{
    font-size: 1.5em;
    font-weight: 600;
}

.modules{
    width: 1050px;
    height: auto;
    
}
.ab{
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary);
    transition: background 0.25s;
}

input[type = "checkbox"]{
    width: 15px;
    height: 15px;
    accent-color: var(--font-primary);
}

.ab h3{
    width: 9%;
}

.ab:hover{
    background-color: var(--secondary-hover);
}
.input{
    width: 7%;
    height: 7vh;
    padding: 10px 10px;
    text-align: center;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
}

#checkPw{
    background-color: var(--primary);
}

.mainBottom{
    display: flex;
    justify-content: center;
    width: 100%;
}


.avg{
    margin-top: 10px;
    width: 50%;
    justify-self: center;
    height: 21vh;
    background-color: var(--primary);
    padding: 5px 10px;
    border-radius: 8px;

}

#average{
    text-align: center;
}

.avgBarContainer{
    width: 80%;
    justify-self: center;
    height: 1.5vh;
    background-color: var(--secondary);
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}

.avgBar{
    transition: background 0.3s , width 0.3s ;
    height: 1.5vh;
    border-radius: 10px;
}
   
/* -------------------Analytics side -------------------------------------- */
.analyticsContainer{
    width: 90%;
    height: auto;
    background-color: var(--secondary);
    margin-top: 20px;
    border-radius: 10px;
    justify-self: center;
    padding: 20px 15px;
    overflow: hidden;
}

#Atitle{
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: 1200;
}

.BestWorst{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}

.Mcontainer{
    width: 40%;
    height: 23vh;
    border-radius: 10px;
    background-color: var(--primary);
    padding: 10px 10px;
}

.Mcontainer h3 , h2{
    text-align: center;
    font-weight: 700;
}

#pp{
    font-size: 1.2em;
    font-weight: 600;
}
#graph{
    width: 85%;
    height: 33vh;
}
#radar{
    width: 100%;
    height: 30vh;   
}
#pie{
    width: 100%;
    height: 30vh;
}

.lower{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 15px;
}

.examGraph{
    width: 100%;
    display: flex;
    justify-content: center;
}

#Atitle{
    display: flex;
    align-items: center;
    gap: 10px;
}