/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Theme Variables */
:root {
    --primary : #2A3439; /* Deep Blue */
    --secondary : #1a1a1a ; /* Darker Blue */
    --secondary-hover: #2A3439; /* Lighter Blue on hover */
    --font-primary: white;
    --border-radius: 10px;
}

body {
    background-color: var(--primary);
    color: var(--font-primary);
    transition: background 0.8s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#root{
    width: 100%;    --primary : #2A3439;
    --secondary : #1a1a1a ; 
}

/* --------------------------------Archive -------------------------- */

.archiveContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Archive{
    width: 70%;
    background-color: var(--primary);
    max-height: 80vh;
    overflow-y: scroll;
    position: fixed;
    border-radius: 10px;
    z-index: 1;
    top: 50%;
    left: 50%;
    border: 1px solid white;
    transform: translate(-50% , -50%);
    padding: 15px 10px;
    transition: transform 0.5s;
}

.ArchTop{
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 10px;
}

.archTopRight{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.archTopRight button{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}

.archTopRight div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.archive-element-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.archive-element{
    width: 95%;
    background-color: var(--secondary);
    display: flex;
    border-radius: 10px;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: background 0.25s;
}

.archive-element:hover{
    background-color: var(--secondary-hover);
}

.archive-empty{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#delete{
    cursor: pointer;
    transition: color 0.25s;
}

#delete:hover{
    color: red;
}

#deleteAll{
    cursor: pointer;
    transition: color 0.25s , border 0.25s;
}

#deleteAll:hover{
    color: red;
    border: 1px solid red;
}

#archT{
    display: flex;
    align-items: center;
    gap: 10px;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-hover);
    border-radius: var(--border-radius);
}


@media screen and (max-width : 600px) {
    .topRight{
        width: 10%;
        align-items: center;
    }
    .topLeft{
        width: 10%;
    }
    .topContent{
        justify-content: space-between  ;
        align-items: center;
    }

    #logo{
        font-size: 1.6em;
    }

    .bottomLeft{
        width: 30%;
    }
    .bottomMid{
        width: 50%;
    }
    .bottomRight{
        width: 20%;
    }
    #helpBtn{
        font-size: 1em;
        padding: 5px;
        width: 60px;
        height: 40px;
    }
}
