*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root{
    --primary : #1a1a1a ;
    --secondary : rgb(39, 39, 39);
    --secondary-hover : rgb(45, 45, 45);
    --font-primary : white;
}

body{
    background-color: var(--primary);
    transition: background 0.8s;
}
#root{
    width: 100%;
}

/* --------------------------------Archive -------------------------- */

.archiveContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.Archive{
    width: 70%;
    background-color: var(--primary);
    min-height: 30vh;
    position: fixed;
    border-radius: 10px;
    z-index: 1;
    top: 50%;
    left: 50%;
    border: 1px solid white;
    transform: translate(-50% , -50%);
    transition: transform 0.5s;
}

.ArchTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.archTopRight{
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.archTopRight div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.archive-element-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.archive-element{
    width: 95%;
    background-color: var(--secondary);
    display: flex;
    border-radius: 10px;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
}


@media screen and (max-width : 600px) {
    .topRight{
        width: 10%;
        align-items: center;
    }
    .topLeft{
        width: 10%;
    }
    .topContent{
        justify-content: space-between  ;
        align-items: center;
    }

    #logo{
        font-size: 1.6em;
    }

    .bottomLeft{
        width: 30%;
    }
    .bottomMid{
        width: 50%;
    }
    .bottomRight{
        width: 20%;
    }
    #helpBtn{
        font-size: 1em;
        padding: 5px;
        width: 60px;
        height: 40px;
    }
}
